<div class="flex flex-col mt-10 w-4/5 mx-auto">
  <h1 class="text-2xl font-bold mb-6">EDUCATION INFORMATION</h1>
  <div class="flex flex-col items-center">
    <div *ngIf="initData" class="flex flex-col items-center">
      <div
        class="px-4 py-2 border-2 border-blue-500 text-blue-500 font-bold rounded-md"
      >
        EDUCATION
      </div>
      <div class="relative w-full">
        <div
          class="absolute left-1/2 transform -translate-x-1/2 h-full border-l-2 border-gray-400"
        ></div>
        <div
          *ngFor="let data of initData"
          class="flex items-center mb-8 mt-4 w-screen justify-center"
        >
          <div class="flex-1 text-right pr-4">{{ data.year }}</div>
          <div class="relative w-8 flex justify-center">
            <div
              class="w-4 h-4 rounded-full bg-blue-500 absolute left-1/2 transform -translate-x-1/2"
            ></div>
          </div>
          <div class="flex-1 pl-4">{{ data.university }}</div>
        </div>
      </div>
    </div>

    <div
      *ngIf="!initData"
      [formGroup]="educationForm"
      class="flex flex-col items-center justify-center"
    >
      <button
        type="button"
        class="relative w-[28vh] h-[4vh] border-blue-500 border-2 rounded-md mx-auto px-2 text-blue-500 font-bold text-xl"
        (click)="addEducationEntry()"
      >
        ADD EDUCATION
      </button>

      <div
        formArrayName="educationList"
        class="flex flex-col items-center justify-center"
      >
        <div
          *ngFor="let edu of educationList.controls; let i = index"
          [formGroupName]="i"
          class="flex justify-center items-center relative mt-5 text-gray-600 w-full gap-4"
        >
          <input
            type="text"
            formControlName="year"
            placeholder="Year"
            class="border border-black rounded-md pr-10"
          />
          <input
            type="text"
            formControlName="university"
            placeholder="University"
            class="border border-black rounded-md pr-10"
          />
          <button
            type="button"
            class="ml-2 p-1 bg-red-500 text-white rounded-xl"
            (click)="removeEducationEntry(i)"
          >
            Remove
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
