<div class="flex flex-col mt-40 w-4/5 mx-auto h-screen">
  <h1 class="text-2xl font-bold mb-6">EXPERIENCE INFORMATION</h1>
  <div class="flex flex-col">
    <div
      *ngIf="initData"
      class="relative w-[28vh] h-[4vh] border-blue-500 border-2 rounded-md mx-auto px-2 text-blue-500 font-bold text-xl text-center my-auto"
    >
      ADD EXPERIENCE

      <div
        *ngIf="initData"
        class="flex justify-center items-start absolute top-[105%] left-[85%] text-gray-600 w-[28vh]"
      >
        <div
          *ngIf="initData"
          class="flex flex-col justify-center items-center pr-4 gap-20 mt-4"
        ></div>
        <div
          *ngIf="initData"
          class="bg-gray-400 w-1 flex flex-col justify-center items-center gap-20"
          [style.height]="calcHeight()"
        >
          <div
            *ngFor="let count of initData"
            class="w-4 h-4 rounded-full bg-blue-500"
          ></div>
        </div>
        <div
          *ngIf="initData"
          class="flex flex-col justify-center items-start pl-4 gap-20 mt-4 text-sm w-max"
        >
          <div
            *ngFor="let data of initData; let i = index"
            class="border border-black px-10 w-max rounded-md"
          >
            <div class="flex justify-between items-center gap-x-3">
              <div>
                {{ data.experience }} {{ data.fromDate }} - {{ data.toDate }}
              </div>
              <button class="" (click)="removeExperienceEntry(i)">
                <fa-icon [icon]="faCamera"></fa-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      *ngIf="!initData"
      [formGroup]="experienceForm"
      class="flex flex-col items-center justify-center"
    >
      <button
        type="button"
        class="relative w-[28vh] h-[4vh] border-blue-500 border-2 rounded-md mx-auto px-2 text-blue-500 font-bold text-xl"
        (click)="addExperienceEntry()"
      >
        ADD EXPERIENCE
      </button>

      <div
        formArrayName="educationList"
        class="flex flex-col items-center justify-center"
      >
        <div
          *ngFor="let edu of experienceList.controls; let i = index"
          [formGroupName]="i"
          class="flex justify-center items-center relative mt-5 text-gray-600 w-full gap-4"
        >
          <input
            type="text"
            formControlName="experience"
            placeholder="Experience"
            class="border border-black rounded-md pr-10"
          />
          <input
            type="date"
            formControlName="formDate"
            placeholder="Form Date"
            class="border border-black rounded-md pr-10"
          />
          <input
            type="date"
            formControlName="toDate"
            placeholder="To Date"
            class="border border-black rounded-md pr-10"
          />
          <button
            type="button"
            class="ml-2 p-1 bg-red-500 text-white rounded-xl"
            (click)="removeExperienceEntry(i)"
          >
            Remove
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
