<div class="flex flex-col mt-40 w-4/5 mx-auto h-screen">
  <h1 class="text-2xl font-bold mb-6">EXPERIENCE INFORMATION</h1>
  <div class="flex flex-col">
    <div
      *ngIf="initData"
      class="relative w-[28vh] h-[4vh] border-blue-500 border-2 rounded-md mx-auto px-2 text-blue-500 font-bold text-xl text-center my-auto"
    >
      ADD EXPERIENCE

      <div
        *ngIf="initData"
        class="flex justify-center items-start absolute top-[105%] left-[25%] text-gray-600 w-full"
      >
        <div
          *ngIf="initData"
          class="flex flex-col justify-center items-center pr-4 gap-20 mt-4"
        >
          <div *ngFor="let data of initData">{{ data.fromDate }}</div>
        </div>
        <div
          *ngIf="initData"
          class="bg-gray-400 w-1 flex flex-col justify-center items-center gap-20"
          [style.height]="calcHeight()"
        >
          <div
            *ngFor="let count of initData"
            class="w-4 h-4 rounded-full bg-blue-500"
          ></div>
        </div>
        <div
          *ngIf="initData"
          class="flex flex-col justify-center items-center pl-4 gap-20 mt-4"
        >
          <div *ngFor="let data of initData">{{ data.toDate }}</div>
        </div>
      </div>
    </div>
    <!-- <div
      *ngIf="!initData"
      [formGroup]="educationForm"
      class="flex flex-col items-center justify-center"
    >
      <button
        type="button"
        class="relative w-[28vh] h-[4vh] border-blue-500 border-2 rounded-md mx-auto px-2 text-blue-500 font-bold text-xl"
        (click)="addEducationEntry()"
      >
        ADD EDUCATION
      </button>

      <div
        formArrayName="educationList"
        class="flex flex-col items-center justify-center"
      >
        <div
          *ngFor="let edu of educationList.controls; let i = index"
          [formGroupName]="i"
          class="flex justify-center items-center relative mt-5 text-gray-600 w-full gap-4"
        >
          <input
            type="text"
            formControlName="year"
            placeholder="Year"
            class="border border-black rounded-md pr-10"
          />
          <input
            type="text"
            formControlName="university"
            placeholder="University"
            class="border border-black rounded-md pr-10"
          />
          <button
            type="button"
            class="ml-2 p-1 bg-red-500 text-white rounded-xl"
            (click)="removeEducationEntry(i)"
          >
            Remove
          </button>
        </div>
      </div>
    </div> -->
  </div>
</div>
