<div class="mt-10 w-4/5 mx-auto">
  <h1 class="text-2xl font-bold">CONTACT INFORMATION</h1>
  <form class="flex flex-col" [formGroup]="contactForm">
    <div class="flex flex-col mt-5">
      <label for="ADDRESS">ADDRESS</label>
      <input
        [readonly]="initData"
        [value]="initData?.address"
        type="text"
        class="border border-black rounded-md pr-10"
        formControlName="address"
      />
    </div>
    <div class="grid grid-cols-4 gap-5 my-5">
      <div class="flex flex-col">
        <label for="SUB DISTRICT">SUB DISTRICT</label>
        <p *ngIf="initData" class="border border-black rounded-md pr-10">
          {{ initData.subdistrict }}
        </p>
        <select
          *ngIf="subdistrictArr && initLocation && !initData"
          name="subdistrict"
          id="subdistrict"
          class="border border-black rounded-md pr-10"
          formControlName="subdistrict"
          (change)="onSubdistrictChange($event)"
        >
          <option *ngFor="let sub of this.subdistrictArr" [value]="sub">
            {{ sub }}
          </option>
        </select>
      </div>
      <div class="flex flex-col">
        <label for="DISTRICT">DISTRICT</label>
        <p *ngIf="initData" class="border border-black rounded-md pr-10">
          {{ initData.district }}
        </p>
        <select
          *ngIf="subdistrictArr && initLocation && !initData"
          name="district"
          id="district"
          class="border border-black rounded-md pr-10"
          formControlName="district"
        >
          <option [value]="district">{{ this.district }}</option>
        </select>
      </div>
      <div class="flex flex-col">
        <label for="PROVINCE">PROVINCE</label>
        <p *ngIf="initData" class="border border-black rounded-md pr-10">
          {{ initData.province }}
        </p>
        <select
          *ngIf="subdistrictArr && initLocation && !initData"
          name="province"
          id="province"
          class="border border-black rounded-md pr-10"
          formControlName="province"
        >
          <option [value]="province">{{ this.province }}</option>
        </select>
      </div>
      <div class="flex flex-col">
        <label for="POSTAL CODE">POSTAL CODE</label>
        <p *ngIf="initData" class="border border-black rounded-md pr-10">
          {{ initData.postalCode }}
        </p>
        <select
          *ngIf="subdistrictArr && initLocation && !initData"
          name="postalCode"
          id="postalCode"
          class="border border-black rounded-md pr-10"
          formControlName="postalCode"
        >
          <option [value]="postalCode">{{ this.postalCode }}</option>
        </select>
      </div>
    </div>
    <div class="grid grid-cols-3 gap-5">
      <div class="flex flex-col">
        <label for="FACEBOOK">FACEBOOK</label>
        <input
          [readonly]="initData"
          [value]="initData?.facebook"
          type="text"
          class="border border-black rounded-md pr-10"
          formControlName="facebook"
        />
      </div>
      <div class="flex flex-col">
        <label for="LINE ID">LINE ID</label>
        <input
          [readonly]="initData"
          [value]="initData?.lineId"
          type="text"
          class="border border-black rounded-md pr-10"
          formControlName="lineId"
        />
      </div>
      <div class="flex flex-col">
        <label for="INSTAGRAM">INSTAGRAM</label>
        <input
          [readonly]="initData"
          [value]="initData?.instagram"
          type="text"
          class="border border-black rounded-md pr-10"
          formControlName="instagram"
        />
      </div>
    </div>
  </form>
</div>
