<div class="flex flex-col mt-40 w-4/5 mx-auto h-auto">
  <h1 class="text-2xl font-bold mb-6">INTERESTS INFORMATION</h1>

  <div
    *ngIf="initData"
    class="border-blue-500 border-2 rounded-md mx-auto px-2 text-blue-500 font-bold text-xl mb-4"
  >
    INTERESTS
  </div>
  <div
    *ngIf="initData"
    class="flex justify-between items-center w-1/3 mx-auto gap-5"
  >
    <div
      *ngFor="let data of initData; let i = index"
      class="bg-blue-400 border-2 px-4 rounded-lg text-white border-black"
    >
      <div class="flex gap-3 items-center">
        <div>{{ data }}</div>
        <button (click)="onDeleteInterest(i)">
          <fa-icon [icon]="faCamera"></fa-icon>
        </button>
      </div>
    </div>
  </div>
  <div
    *ngIf="!initData"
    [formGroup]="interestForm"
    class="flex flex-col items-center justify-center"
  >
    <button
      type="button"
      class="mb-4 relative w-[28vh] h-[4vh] border-blue-500 border-2 rounded-md mx-auto px-2 text-blue-500 font-bold text-xl"
      (click)="addInterestEntry()"
    >
      ADD INTERESTS
    </button>

    <div
      formArrayName="interestList"
      class="flex flex-col items-center justify-center"
    >
      <div
        *ngFor="let edu of interestList.controls; let i = index"
        class="flex justify-center mt-5 text-gray-600 gap-4"
        [formGroupName]="i"
      >
        <input
          type="text"
          formControlName="interest"
          placeholder="Interest"
          class="border border-black rounded-md pr-10"
        />
        <button
          type="button"
          class="ml-2 p-1 bg-red-500 text-white rounded-xl"
          (click)="removeInterestEntry(i)"
        >
          Remove
        </button>
      </div>
    </div>
  </div>
</div>
