<style></style>

<main class="main">
  <div class="h-screen w-screen">
    <div class="bg-orange-300 h-1/5 relative">
      <div class="absolute bottom-3 right-10 h-[40px] bg-gray-400 w-[200px]">
        <fa-icon [icon]="faCoffee"></fa-icon>
        EDIT COVER PHOTO
      </div>
    </div>
    <div class="flex justify-center items-center ml-80">
      <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <div class="grid grid-cols-2 gap-10 mt-10">
          <div class="flex flex-col w-[30vh]">
            <label for="USERNAME">USERNAME</label>
            <input
              type="text"
              formControlName="username"
              class="border border-black"
            />
          </div>
          <div class="flex flex-col">
            <label for="NICKNAME">NICKNAME</label>
            <input
              type="text"
              formControlName="nickname"
              class="border border-black"
            />
          </div>
          <div class="flex flex-col">
            <label for="FIRSTNAME">FIRST NAME</label>
            <input
              type="text"
              formControlName="firstname"
              class="border border-black"
            />
          </div>
          <div class="flex flex-col">
            <label for="LASTNAME">LAST NAME</label>
            <input
              type="text"
              formControlName="lastname"
              class="border border-black"
            />
          </div>
          <div class="flex flex-col">
            <label for="POSITION">POSITION</label>
            <input
              type="text"
              formControlName="position"
              class="border border-black"
            />
          </div>
          <div class="flex flex-col">
            <label for="NATIONALITY">NATIONALITY</label>
            <input
              type="text"
              formControlName="nationality"
              class="border border-black"
            />
          </div>
          <div class="flex flex-col">
            <label for="TEL">TELEPHONE NUMBER</label>
            <input
              type="text"
              formControlName="tel"
              class="border border-black"
            />
          </div>
          <div class="flex flex-col">
            <label for="STARTDATE">STARTING DATE</label>
            <input
              type="text"
              formControlName="startDate"
              class="border border-black"
            />
          </div>
        </div>
        <button type="submit" class="mt-4 p-2 bg-blue-500 text-white">
          Submit
        </button>
      </form>
    </div>
  </div>
</main>

<router-outlet></router-outlet>
