<div class="h-screen w-screen">
  <div class="bg-orange-300 h-2/6 relative">
    <div
      class="hidden lg:flex absolute bg-white rounded-full w-[350px] h-[350px] top-[8rem] left-[8rem] justify-center items-center"
    >
      <img
        *ngIf="imageProfileUrl"
        src="{{ imageProfileUrl }}"
        alt=""
        class="w-[95%] h-[95%] rounded-full relative z-40"
      />
      <div
        class="bg-gray-400 w-[95%] h-[95%] rounded-full relative z-30"
        *ngIf="!imageProfileUrl"
      ></div>
      <button
        *ngIf="!imageProfileUrl"
        class="absolute z-50 bg-gray-300 py-1 px-2 flex justify-center items-center rounded-full text-2xl top-[14rem] left-[19rem]"
        (click)="profileInput.click()"
      >
        <fa-icon [icon]="faCamera"></fa-icon>
      </button>
      <input
        #profileInput
        type="file"
        (change)="onFileProfileSelected($event)"
        style="display: none"
      />
    </div>

    <img
      *ngIf="imageCoverUrl"
      [src]="imageCoverUrl"
      alt=""
      class="z-40 h-full w-screen"
    />
    <button
      *ngIf="!imageCoverUrl"
      class="absolute bottom-3 right-10 h-[40px] bg-gray-300 w-[200px] flex justify-center items-center gap-2 rounded-lg"
      (click)="coverInput.click()"
    >
      <fa-icon [icon]="faCamera"></fa-icon>
      EDIT COVER PHOTO
    </button>
    <input
      #coverInput
      type="file"
      (change)="onFileCoverSelected($event)"
      style="display: none"
    />
  </div>

  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div class="flex justify-center items-center ml-auto lg:ml-80">
      <div class="flex flex-col mt-10">
        <h1 class="text-2xl font-bold">USER INFORMATION</h1>
        <div class="grid grid-cols-2 gap-10 mt-10">
          <div class="flex flex-col">
            <label for="USERNAME">USERNAME</label>
            <input
              [readonly]="initData"
              type="text"
              [value]="initData?.username"
              formControlName="username"
              class="border border-black rounded-md pr-10"
            />
          </div>
          <div class="flex flex-col">
            <label for="NICKNAME">NICKNAME</label>
            <input
              type="text"
              [readonly]="initData"
              [value]="initData?.nickname"
              formControlName="nickname"
              class="border border-black rounded-md pr-10"
            />
          </div>
          <div class="flex flex-col">
            <label for="FIRSTNAME">FIRST NAME</label>
            <input
              type="text"
              [readonly]="initData"
              [value]="initData?.firstname"
              formControlName="firstname"
              class="border border-black rounded-md pr-10"
            />
          </div>
          <div class="flex flex-col">
            <label for="LASTNAME">LAST NAME</label>
            <input
              type="text"
              [readonly]="initData"
              [value]="initData?.lastname"
              formControlName="lastname"
              class="border border-black rounded-md pr-10"
            />
          </div>

          <div class="flex flex-col">
            <label for="POSITION">POSITION</label>
            <input
              *ngIf="!position"
              type="text"
              [readonly]="initData"
              [value]="initData?.nationality"
              formControlName="position"
              class="border border-black rounded-md pr-10"
            />
            <select
              *ngIf="position"
              name="position"
              id="position"
              class="border border-black rounded-md pr-10"
              formControlName="position"
            >
              <option value=""></option>
              <option *ngFor="let pos of this.position" [value]="pos">
                {{ pos }}
              </option>
            </select>
          </div>
          <div class="flex flex-col">
            <label for="NATIONALITY">NATIONALITY</label>
            <input
              type="text"
              [readonly]="initData"
              [value]="initData?.nationality"
              formControlName="nationality"
              class="border border-black rounded-md pr-10"
            />
          </div>
          <div class="flex flex-col">
            <label for="TEL">TELEPHONE NUMBER</label>
            <input
              type="text"
              [readonly]="initData"
              [value]="initData?.tel"
              formControlName="tel"
              class="border border-black rounded-md pr-10"
            />
          </div>

          <div class="flex flex-col">
            <label for="STARTDATE">STARTING DATE</label>
            <input
              type="date"
              value=""
              id="startDate"
              name="startDate"
              formControlName="startDate"
              class="border border-black rounded-md pr-10"
            />
          </div>
        </div>
      </div>
    </div>
    <app-contact
      (formChange)="onContactFormChange($event)"
      [initData]="initData?.contactInfo"
      [initLocation]="location ? location : {}"
    ></app-contact>
    <app-education
      (formChange)="onEducationFormChange($event)"
      [initData]="initData?.educationInfo"
    ></app-education>
    <app-experience
      [initData]="initData?.experienceInfo"
      (formChange)="onExperienceFormChange($event)"
    ></app-experience>
    <app-skill
      [initData]="initData?.skillInfo"
      (formChange)="onSkillFormChange($event)"
    ></app-skill>
    <app-interests
      [initData]="initData?.interestInfo"
      (formChange)="onInterestChange($event)"
    ></app-interests>
    <app-guide
      [initData]="initData?.guildInfo"
      (formChange)="onGuildChange($event)"
    ></app-guide>
    <div class="h-[30vh] mt-10">
      <button
        *ngIf="!initData"
        type="submit"
        class="flex items-center justify-center text-center w-1/5 mx-auto p-2 bg-blue-500 text-white rounded-lg"
      >
        Submit
      </button>
    </div>
  </form>
</div>
